.ContainerBlogsRoute {
  padding: 0 0.5em;
  margin-top: 6em;
}

.ContainerBlogsRoute .title {
  font-size: 1.85rem;
  text-align: center;
}

.ContainerBlogsRoute .blog-cards-container {
  display: flex;
  justify-content: center;
}

.ContainerBlogsRoute .blog-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 2em;
}

@media only screen and (min-width: 865px) {
  .ContainerBlogsRoute .blog-cards {
    grid-template-columns: 1fr 1fr;
  }
}
