.Header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  box-shadow: 0 2px 10px #29292928;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.Header button {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}

.Header .link {
  text-decoration: none;
}

.Header h1 {
  color: #111;
  font-size: 1.55rem;
}

.Header ul {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  width: 45%;
  padding-top: 5em;
  background-color: #fff;
  transition: 0.5s transform ease-out;
}

.Header .close-btn {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.Header .active {
  transform: translateX(0);
}

.nav-links li {
  list-style: none;
  display: block;
}

.nav-links a {
  display: inline-block;
}

.nav-links a,
.Header .signout-btn {
  padding: 1.25em 1em;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: #555;
}

.nav-links a:hover {
  transition: 0.1s background-color ease;
  background-color: #eee;
}

.Header .sidebar-btn,
.Header .close-btn {
  border: none;
  background-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
}

.Header .signin-btn,
.Header .signout-btn {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.Header .signout-btn {
  width: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
  height: 1em;
  background-color: #555;
  border: 1px #555 solid;
  border-radius: 0.1em;
}

.Header .signout-btn:hover {
  background-color: transparent;
  color: #555;
}

.Header p {
  color: #555;
}

.Header .profile-header {
  display: flex;
  align-items: center;
}

.Header .profile-header * {
  margin: 0 0.25em;
}

.Header .profile-header img {
  width: 25px;
  border-radius: 50%;
}

.Header .signin-btn {
  border: #222 1px solid;
}

.Header div p {
  font-size: 0.7rem;
}

/* Temporary Solution: Stops the animation for activating when changing from desktop to mobile */
@media only screen and (min-width: 850px) {
  .Header ul {
    transform: translateX(100%);
    transition: none;
  }
}

@media only screen and (min-width: 865px) {
  .Header ul {
    position: relative;
    transform: translateX(0);
    width: 100%;
    padding-top: 0;
    background-color: transparent;
    transition: none;
    display: block;
  }

  .Header div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .Header .profile-header img {
    width: 35px;
  }

  .nav-links li {
    list-style: none;
    display: inline-block;
  }

  .Header .nav-links .signout-btn {
    background-color: #555;
    color: #fff;
  }

  .nav-links a,
  .Header .signout-btn {
    padding: 0.15em 0.5em;
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: #555;
  }

  .Header .signout-btn {
    height: auto;
    padding: 0.4em;
  }

  .nav-links a:hover,
  .Header .signin-btn:hover {
    transition: 0.1s background-color ease;
    background-color: transparent;
    color: #888;
    text-decoration: underline;
  }

  .Header .signout-btn {
    border: 1px #555 solid;
    margin: 0 0.5em;
  }

  .Header .nav-links .signout-btn:hover {
    background-color: #fff;
    color: #555;
    text-decoration: none;
  }

  .Header .sidebar-btn,
  .Header .close-btn {
    display: none;
  }
}
